{% extends 'base.html.twig' %}

{% block title %}Sales report{% endblock %}

{% block body %}
    <nav class="mb-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('sale_index') }}">Sales</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('sale_report') }}">Report</a></li>
        </ol>
    </nav>

    <h1 class="mb-3">Sales report</h1>

    <div class="card bg-light mb-3">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <table class="table table-hover mb-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>User</th>
            <th>Team</th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>
                    <a href="{{ path('sale_show', {id: sale.id}) }}">{{ sale.id }}</a>
                </td>
                <td>{{ sale.date|date('Y-m-d') }}</td>
                <td>$ {{ sale.amount|number_format }}</td>
                <td>
                    <a href="{{ path('user_show', {id: sale.user.id}) }}">{{ sale.user }}</a>
                </td>
                <td>
                    <a href="{{ path('team_show', {id: sale.user.team(date).id}) }}">{{ sale.user.team(date) }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-muted">No data</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
